.main {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#anchor {
    margin-top: 0.5rem;
    scale: 1.4;
}

#eyes {
    position: relative;
    margin-top: 42px;
    margin-left: 24px;
}

#eyes,
#eye img {
    position: absolute;
}

#eye {
    border-radius: 50%;
    width: 37px;
    margin-top: 0.3rem;
    margin-left: -20.2px;
    padding-inline: 4px;
    gap: 2rem;
}