@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.Container_1 {
    color: #fff;
    display: flex;
    margin-right: 10rem;
}

.Container img {
    margin-right: 2rem;
}

.Container_1 p {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.borderBottom {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 8px;
}

.Container_1 p img {
    position: absolute;
    top: 10%;
    right: -32%;
}

a {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: 2px solid #5C5C5C;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background: transparent;
    text-decoration: none;
}

.Container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a .StarUs {
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
}

a .vertical {
    border-left: 2px solid #5C5C5C;
    height: 26px;
}

a .Likes {
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 1rem;
}

a:hover {
    background-color: #5C5C5C;
}

@media (max-width: 480px) {
    .Container {
        display: block;
        min-height:100%;
        position:relative;
    }

    .Container_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 3rem;
        margin-right: 8rem;
    }

    .Container_1 img .logo {
        margin-left: 3rem;
    } 
    
    a {
        display: none;
    }

    .Container_2 {
        display: none;
    }
}
